body{
    background-color: black;
    margin: auto;
    margin-top: 15%;
    color: white;
    text-align: center;
}
nav{
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
}

nav a{
    border: 1px solid #fff;
    padding: 9px;
    border-radius: 7px;
    background-color: rgb(192, 231, 218);
    text-decoration: none;
    color: #212121;
}
.container{
    display: inline-block;
    margin: auto;
    text-align: center;
    background-color: orange;
    border-radius: 6px;
    padding: 30px 70px;
}

#clock{
    /* margin: auto; */
    font-size: 40px;
}