body{
    background-color: rgb(245, 241, 241);
    color: black;
}
.container{
    margin: auto;
    text-align: center;
    margin-top: 10%;
}

#results{
    display: inline-block;
    margin-top: 20px;
    font-size: 30px;
    /* padding: 10px; */
    border-radius: 7px;
    background-color: rgb(127, 240, 255);
}

#res{
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
}

@media (width < 950px) {
    body{
        height: auto;
    }
}